.profile {
  display: flex;
  .profileContainer {
    flex: 6;
    .details-container {
      .title {
        color: grey;
        padding: 10px;
      }
      padding: 10px;
      display: flex;
      .leftContainers {
        flex: 3;
        margin: 5px;
        border-radius: 10px;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        .details {
          display: flex;
          flex-direction: column;
          padding: 10px;
          .details-top {
            padding: 10px;
            .profilePic {
              height: 300px;
              width: 300px;
              border-radius: 50%;
              background: rgba(128, 128, 128, 0.226);
              border: 3px solid grey;
              overflow: hidden;
              img {
                height: 300px;
                width: 300px;
              }
            }
          }
          .details-bottom {
            display: flex;
            .indicator {
              margin: 5px;
            }
            .value {
              margin: 5px;
            }
          }
        }
      }
      .rightContainers {
        flex: 6;
        margin: 5px;
        border-radius: 10px;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        .update-details {
          display: flex;
          .left {
            display: flex;
            flex-direction: column;
          }
          .right {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
