.table {
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 14px;
      font-weight: 400;
      color: grey;
    }
    .left {
      flex: 2;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    .center {
      flex: 2;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    .right {
      flex: 2;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
  }
  .bottom {
    .image {
      border-radius: 10%;
      height: 50px;
      width: 50px;
    }
    .menu-action-button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .cellAction {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    .viewButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 2px 5px;
      border-radius: 5px;
      color: rgba(0, 0, 139, 0.563);
      cursor: pointer;
    }
    .viewButton:hover {
      background-color: rgba(0, 0, 139, 0.356);
    }
    .deleteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 2px 5px;
      border-radius: 5px;
      color: rgba(220, 20, 60, 0.62);
      cursor: pointer;
    }
    .deleteButton:hover {
      background-color: rgba(220, 20, 60, 0.363);
    }
  }
  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    &.Available {
      margin-top: 10px;
      height: 20px;
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Not-Available {
      color: red;
      background-color: rgba(255, 1, 1, 0.103);
    }
    &.Limited {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
