.updateMenu {
  display: flex;
  .updateMenuContainer {
    flex: 6;
    margin-top: 50px;
    margin-left: 200px;
    width: calc(100% - 200px);
    .details-container {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      .left,
      .right {
        flex: 3;
        margin: 10px;
      }
    }
  }
}
