.admin-cart-container {
  display: flex;
  .cart-table-container {
    flex: 6;
    margin-left: 200px;
    width: calc(100% - 200px);
    .top {
      padding: 20px;
    }
    .bottom {
      padding: 20px;
    }
  }
}