// Define variables
$grid-size: 280px; // Change this to adjust the size of each grid item
$grid-gap: auto; // Change this to adjust the gap between grid items.

.cart {
  display: flex;
  .cartContainer {
    flex: 6;
    .top {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    .bottom {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      .bottom-top-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .bottom-title-container {
          .bottom-title {
            color: grey;
            font-size: 20px;
            text-transform: capitalize;
          }
        }
        .bottom-icon-continer {
          position: relative;
          .table-option {
            position: absolute;
            z-index: 1000;
            top: 100%;
            right: 45%;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            width: 150px;
            overflow: hidden;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            span {
              padding: 10px;
              cursor: pointer;
              &:hover {
                background-color: #f0f0f0;
              }
            }
          }
          .bottom-icon {
            color: grey;
            margin: 10px;
            cursor: pointer;
          }
        }
      }
      .loading {
        width: 100%;
      }
      .floating-botton-continer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1000; /* Ensure it appears above other elements */
        background-color: rgba(
          128,
          128,
          128,
          0.5
        ); /* Grey background with 50% opacity */
        padding: 7px; /* Optional: Add some padding */
        border-radius: 8px; /* Optional: Add rounded corners */
        .box-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
      .table-carts {
        background-color: none;
        display: grid;
        grid-template-columns: repeat(4, $grid-size);
        justify-content: center;
        .cart-cards {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
          margin: 10px;
          border-radius: 10px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          .card-cart-top-container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px;
            .card-card-details {
              padding: 7px;
              .menu-name-container {
                .menu-name {
                  text-transform: capitalize;
                }
              }
              .menu-name-indicator-container {
                .menu-name-indicator {
                  color: darkslategray;
                  font-size: 13px;
                }
              }
            }
            .card-cart-icon-container {
              padding: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: orangered;
              border-radius: 7px;
              .card-cart-icon {
                font-size: 20px;
                color: white;
              }
              &:hover {
                scale: 1.1;
              }
            }
          }
          .car-cart-center-container {
            .image-wrapper {
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              .image {
                width: 233px;
                height: 180px;
              }
            }
          }
          .card-bottom-container {
            width: 90%;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menu-price-wrapper {
              .menu-price-indicator-container {
                .menu-price-indicator {
                  text-transform: capitalize;
                  font-size: 13px;
                  color: darkslategray;
                }
              }
            }
            .btn-order-container {
              display: flex;
              align-items: center;
              justify-content: center;
              .btn-order-now {
                padding: 7px;
                border-radius: 7px;
                border: none;
                color: white;
                background-color: red;
                font-size: 20px;
                &:hover {
                  scale: 1.05;
                }
              }
            }
          }
        }
      }
    }
  }
}
