.notificaton{
  display: flex;
  .notification-container{
    flex: 6;
    margin-top: 50px;
    margin-left: 200px;
    width: calc(100% - 200px);
    .title{
      color: grey;
      font-size: 15px;
    }
    .top{
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
    }
    .center{
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
    }
    .bottom{
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
    }
  }
}