.order-now {
  display: flex;
  .order-now-container {
    flex: 6;
    .data-page-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
      .page-title-container {
        width: 97%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      }
      .menu-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        .left-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .image-wrapper {
            height: 280px;
            width: 400px;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
            .image {
              height: 280px;
              width: 400px;
            }
          }
          .menu-small-detials-container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin: 10px;
            .menu-name-container {
              display: flex;
              flex-direction: column;
              justify-content: start;
              .menu-name-indicator {
                color: darkslategray;
              }
              .menu-name-value {
                text-transform: capitalize;
              }
            }
          }
        }
        .right-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 10px;
          border-left: 2px solid darkslategray;
          .right-title-container {
            width: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            .right-title {
              color: darkslategray;
              font-size: 25px;
              font-weight: bold;
              text-transform: capitalize;
              word-spacing: 30px;
              letter-spacing: 5px;
              margin-bottom: 20px;
            }
          }
          .order-summary-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            .order-title-container {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 5px;
              padding: 10px;
              .order-title {
                color: darkslategray;
              }
            }
            .order-summary-details-container {
              display: flex;
              flex-direction: row;
              width: 100%;
              margin: 5px;
              border-radius: 10px;
              overflow: hidden;
              .order-summary-indicator-wrapper {
                flex: 2;
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: rgb(255, 68, 0);
                border-right: 2px solid white;
                .order-summary-indicator {
                  margin: 5px;
                  color: whitesmoke;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
              .order-summary-value-wrapper {
                flex: 3;
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: rgb(255, 166, 0);
                .order-summary-value {
                  margin: 5px;
                  color: whitesmoke;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
            }
          }
          .order-details-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .details-cotainer {
              display: flex;
              width: 90%;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .quantity-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                .quantity-indicator-wrapper {
                  margin: 10px;
                  .quantity-indicator {
                    text-transform: capitalize;
                    color: darkslategray;
                    font-size: 15px;
                  }
                }
                .quantity-button-wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .quantity-add {
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    border-radius: 10px 0px 0px 10px;
                    width: 20px;
                    cursor: pointer;
                    .symbol {
                      font-size: 20px;
                      font-weight: bold;
                      color: white;
                    }
                  }
                  .quantity-count {
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid red;
                    .quantity-count-value {
                      font-size: 18px;
                      font-weight: bold;
                    }
                  }
                  .quantity-subtract {
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    border-radius: 0px 10px 10px 0px;
                    width: 20px;
                    cursor: pointer;
                    .symbol {
                      font-size: 20px;
                      font-weight: bold;
                      color: white;
                    }
                  }
                }
              }
              .total-ammount-container {
                flex: 2;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                .total-ammount-indicator {
                  margin-bottom: 10px;
                  text-transform: capitalize;
                  color: darkslategray;
                  font-size: 15px;
                }
                .total-ammout-wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  .total-ammount {
                    font-size: 27px;
                    font-weight: bold;
                  }
                }
              }
              .payment-type-container {
                flex: 3;
                display: flex;
                flex-direction: column;
                .payment-type-indicator {
                  margin-bottom: 5px;
                  text-transform: capitalize;
                  color: darkslategray;
                  font-size: 15px;
                }
                .option-container {
                  width: 100%;
                  .payment-type {
                    margin-top: 3px;
                    width: 100%;
                    padding: 7px;
                    border-radius: 10px;
                    background-color: red;
                    border: none;
                    font-size: 18px;
                    color: white;
                  }
                }
              }
            }
          }
          .click-to-order-container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: end;
            margin: 10px;
            .btn-place-order {
              height: auto;
              width: auto;
              font-size: 20px;
              padding: 10px;
              color: white;
              background-color: red;
              border: 1px solid red;
              border-radius: 10px;
              &:hover {
                scale: 1.02;
              }
            }
          }
        }
      }
    }
  }
}
