.history {
  display: flex;
  .historyContianer {
    flex: 6;
    margin-top: 50px;
    margin-left: 200px;
    width: calc(100% - 200px);
    .content-container {
      padding: 10px;
      margin: 10px;
      .display-data-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .cart-container {
          width: 100%;
          .cart-title-wrapper {
            .cart-title {
              color: grey;
              font-size: 20px;
            }
          }
          .cart-row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            .items {
              flex: 3;
              display: flex;
              flex-direction: column;
              align-items: start;
            }
          }
        }
      }
    }
  }
}
