.history {
  display: flex;
  .historyContianer {
    flex: 6;
    margin-top: 50px;
    margin-left: 200px;
    width: calc(100% - 200px);
    .content-container {
      padding: 10px;
      margin: 10px;
      .display-data-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .cart-container,
        .order-container {
          padding: 10px;
          margin: 10px;
          width: 100%;
          .cart-title-wrapper,
          .order-title-container {
            .cart-title,
            .order-title {
              color: grey;
              font-size: 20px;
            }
          }
          .cart-row,
          .order-row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            .items {
              flex: 3;
              display: flex;
              flex-direction: column;
              align-items: start;
              .item-indicator {
                color: grey;
                font-size: 12px;
              }
              .item-value {
                margin-top: 5px;
                color: darkslategray;
                font-weight: 700;
                font-size: 18px;
                &.Delivered {
                  padding: 7px;
                  font-size: 13px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: green;
                  border-radius: 7px;
                  background-color: rgba(0, 128, 0, 0.3);
                }
                &.Delivering {
                  padding: 7px;
                  font-size: 13px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: goldenrod;
                  border-radius: 7px;
                  background-color: rgba(218, 165, 32, 0.3);
                }
              }
            }
            .action-icon {
              padding: 7px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: rgba(220, 20, 60, 0.3);
              border-radius: 10px;
              .icon {
                font-size: 20px;
                color: red;
                &:hover {
                  scale: 1.2;
                }
              }
              &:hover {
                scale: 1.05;
              }
            }
          }
        }
      }
    }
  }
}
