.edit-cart {
  display: flex;
  .container {
    flex: 6;
    margin-left: 200px;
    width: calc(100% - 200px);
    .content-wrapper {
      padding: 10px;
      margin: 10px;
      display: flex;
      justify-content: space-between;
      .left {
        flex: 2;
        margin: 10px;
      }
      .right {
        flex: 2;
        margin: 10px;
      }
    }
  }
}
