.edit-cart-right-top {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 15px 0px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  .title-wrapper {
    padding: 5px;
    .title {
      color: darkslategray;
      font-weight: 700;
      font-size: 20px;
    }
  }
  .cart-details-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .loading {
      color: grey;
      font-size: 12px;
      font-weight: 300;
    }
    .cart-details {
      width: 100%;
      display: flex;
      .left-cart-details,
      .right-cart-details {
        flex: 2;
        .items {
          margin: 5px;
          display: flex;
          flex-direction: column;
          .indicator{
            color: grey;
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
