$grid-size: 280px;
$grid-gap: auto;

.menu {
  display: flex;
  .menuContianer {
    flex: 6;
    margin-top: 50px;
    margin-left: 200px;
    width: calc(100% - 200px);
    .top {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    .bottom {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      .menuTable {
        display: grid;
        grid-template-columns: repeat(4, $grid-size);
      }
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        margin: 10px;
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.527);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.658);
        .menu-name-container {
          width: 90%;
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .menunamecontainer {
            display: flex;
            justify-self: start;
            flex-direction: column;
            .menuname {
              color: black;
              text-transform: capitalize;
              font-size: 23px;
            }
            .menu-name-indicator{
              color: darkslategray;
              font-size: 12px;
            }
          }
          .add-to-cart {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgb(255, 68, 0);
            .icon-add-to-cart {
              font-size: 18px;
              margin: 5px;
              color: white;
            }
            &:hover {
              scale: 1.1;
            }
          }
        }
        .image-wrapper {
          width: 235px;
          height: 180px;
          border-radius: 3px;
          overflow: hidden;
          margin: 10px;
          .image {
            width: 235px;
            height: 180px;
          }
        }
        .price-order-container {
          display: flex;
          width: 90%;
          align-items: center;
          justify-content: space-between;
          .price-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin-bottom: 10px;
            .price-indicator {
              font-size: 13px;
              color: darkslategray;
            }
            .menu-price {
              font-size: 20px;
              font-weight: bold;
            }
          }
          .order-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            .btn-order-now {
              background-color: red;
              color: white;
              font-size: large;
              border: none;
              height: 40px;
              width: 100px;
              border-radius: 10px;
              margin-bottom: 5px;
            }
            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
}
