$grid-size: 280px;
$grid-gap: auto;

.menu {
  display: flex;
  .menuContianer {
    flex: 6;
    .top {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    .bottom {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      .menuTable {
        display: grid;
        grid-template-columns: repeat(4, $grid-size);
      }
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        margin: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        .image {
          width: 300px;
          height: 250px;
        }
        .menu-details {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 10px;
          width: 100%;
          span {
            margin: 3px;
          }
          .menu-name {
            text-transform: capitalize;
            font-weight: bold;
            color: black;
            font-size: 20px;
          }
          .price {
            color: rgb(36, 35, 35);
            font-size: 18px;
          }
        }
        .card-buttons {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .add-to-cart {
            padding: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 5px;
            background-color: rgba(255, 174, 0, 0.993);
            border-radius: 5px;
            color: whitesmoke;
            font-size: 15px;
            font-weight: bold;
            span {
              display: flex;
              align-items: center;
              justify-content: space-around;
              text-transform: capitalize;
            }
          }
          .order-now {
            padding: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 5px;
            background-color: rgb(236, 30, 30);
            border-radius: 5px;
            color: whitesmoke;
            font-size: 15px;
            font-weight: bold;
            span {
              display: flex;
              align-items: center;
              justify-content: space-around;
              text-transform: capitalize;
            }
          }
        }
      }
      .card:hover {
        scale: 1.02;
      }
    }
    .floating-box {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 1000; // Ensure it stays on top of other elements
      display: flex;
      flex-direction: column;

      & > :not(style) {
        margin: 0.5rem;
      }
    }
  }
}
