.add-item-container {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  .top-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .icon-wrapper {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: end;
      .btn-save {
        padding: 1px;
        border-radius: 5px;
        border: 1px solid red;
        background-color: red;
        font-size: 20px;
        color: white;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}
